<section class="ms-game-renderer">
	<div class="grid">
		<div class="column"
			ng-repeat="column in game.grid.tiles">
			<div class="tile"
				ng-repeat="tile in column"
				ng-class="{ revealed: tile.revealed, 'read-only': readOnly }"
				ng-click="reveal(tile.coordinates)"
				right-click="annotate(tile.coordinates)">
				<i class="fa fa-flag"
					ng-show="!game.lost && tile.flag">
				</i>
				<i class="fa fa-question"
					ng-show="tile.questionMark"></i>
				<i class="fa fa-bomb"
					ng-show="game.lost && tile.mine">
				</i>
				<i class="fa fa-times"
					ng-show="tile.flag && game.lost && !tile.mine">
				</i>

				<div class="neighbor-mines"
					data-value="{{ tile.revealed && game.grid.getNeighboringMinesCount(tile.coordinates) }}"
					ng-show="!tile.mine && tile.revealed">
				</div>
			</div>
		</div>
	</div>
	<div class="controls">
		<button class="reset"
			ng-disabled="readOnly"
			ng-click="reset()">
			<img src="assets/happy-smiley.png"
				ng-show="!game.lost && !game.isWon()"/>
			<img src="assets/ko-smiley.png"
				ng-show="game.lost && !game.isWon()"/>
			<img src="assets/big-eyes-smiley.png"
				ng-show="game.isWon()"/>
		</button>
		<span class="flags"> Flags remaining:
			{{ game.grid.minesCount - game.grid.countFlags() }}
		</span>
		<timer class="timer"
			start-time="game.startTime"
			autostart="false"
			interval="10">
			{{mminutes}}:{{sseconds}}
		</timer>
	</div>
</section>