<!DOCTYPE html>
<html lang="en"
	ng-app="minesweeper"
	ng-controller="AppController">
	<head>
		<meta charset="UTF-8">
		<title>Minesweeper</title>
		<link rel="shortcut icon" href="assets/bomb-smiley.png">
		<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="index.css">
		<script type="application/javascript" src="bower_components/angular/angular.js"></script>
		<script type="application/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script type="application/javascript" src="bower_components/ez-right-click/dist/ez-right-click.min.js"></script>
		<script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
		<script type="application/javascript" src="index.js"></script>
		<script type="application/javascript" src="room.js"></script>
		<script type="application/javascript" src="models/user.js"></script>
		<script type="application/javascript" src="models/game.js"></script>
		<script type="application/javascript" src="models/grid.js"></script>
		<script type="application/javascript" src="models/tile.js"></script>
		<script type="application/javascript" src="services/users.js"></script>
		<script type="application/javascript" src="views/game-renderer.js"></script>
		<script type="application/javascript" src="socket.io/socket.io.js"></script>
		<script type="application/javascript" src="bower_components/angular-socket-io/socket.js"></script>
		<script type="application/javascript" src="bower_components/humanize-duration/humanize-duration.js"></script>
		<script type="application/javascript" src="bower_components/momentjs/min/moment.min.js"></script>
		<script type="application/javascript" src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
	</head>
	<body>
		<div class="settings">
			<select ng-model="difficulty"
				ng-change="saveDifficulty(); reset()">
				<option>Easy</option>
				<option>Medium</option>
				<option>Hard</option>
			</select>
			<br>
		</div>
		<div class="users">
			<table border="1">
				<caption>Connected user(s), Click on to play with: </caption>
				<tr>
					<td ng-repeat="user in users">
						<button ng-click="sendInvitation(user)">{{ user.name }}</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="games">
			<h1>{{ name }}</h1>
			<ms-game-renderer game="game"
				reset="reset">
			</ms-game-renderer>
			<div class="users"
				ng-repeat="user in users">
				<h1>{{ user.name }}</h1>
				<ms-game-renderer
					ng-if="!!user.game"
					game="user.game"
					read-only="true">
				</ms-game-renderer>
			</div>
		</div>
	</body>
</html>