.games {
    text-align: center;
}

.ms-game-renderer {
    display: inline-block;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.tile {
    border: 2px outset;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background-color: #bdbdbd;
    color: black;
    box-sizing: border-box;
}

.tile.revealed {
    border: 1px solid #7b7b7b;
}

.tile:not(.revealed):not(.read-only):hover {
    background-color: darkred;
}

.neighbor-mines[data-value="1"]::before {
    color: #0000ff;
    content: "1";
}

.neighbor-mines[data-value="2"]::before {
    color: #007b00;
    content: "2";
}

.neighbor-mines[data-value="3"]::before {
    color: #ff0000;
    content: "3";
}

.neighbor-mines[data-value="4"]::before {
    color: #00007b;
    content: "4";
}

.neighbor-mines[data-value="5"]::before {
    color: #7b0000;
    content: "5";
}

.neighbor-mines[data-value="6"]::before {
    color: #007b7b;
    content: "6";
}

.neighbor-mines[data-value="7"]::before {
    color: #000000;
    content: "7";
}

.neighbor-mines[data-value="8"]::before {
    color: #7b7b7b;
    content: "8";
}

.ms-game-renderer .controls {
    text-align: center;
    margin: inherit;
}

.ms-game-renderer .controls .reset img {
    width: 32px;
    height: 32px;
}

.ms-game-renderer .timer,
.ms-game-renderer .flags {
    display: block;
    font-weight: bold;
    font-style: italic;
}

table, caption {
    border: 1px solid black;
}